<!--@author Karun Bourishetty-->
<h1>orderLineItem index</h1>


<h1>Order Line Page</h1>

<div class="col col-md-12 col-lg-10">
  <a href="orderLineItem/create" class="btn btn-primary new">
    Create a new order
  </a>
  <h2>Recent order entries</h2>
  <p>There are
    <%= orderlineitem.query.length %> orders.
    <br />
  </p>
  <% for (var i = orderlineitem.query.length-1; i >= 0; i--) {   
       %>
  <div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="text-muted pull-right"></div>
    <div class="panel-body">
      <br />
      <br /> OrderID:
      <%=  orderlineitem.query[i]._orderID %>
      <br> LineNumber:
      <%=orderlineitem.query[i].lineNumber%>
      <br /> ProductName:
      <%=orderlineitem.query[i].productName%>
      <br /> Quantity (No`s):
      <%=orderlineitem.query[i].quantity%>
      <br />
      <br />

      <a href="/orderLineItem/delete/<%= orderlineitem.query[i]._orderID  %>" class="btn btn-danger"> Delete </a>
      <a href="/orderLineItem/details/<%= orderlineitem.query[i]._orderID %>" class="btn btn-info"> Details </a>
      <a href="/orderLineItem/edit/<%= orderlineitem.query[i]._orderID %>" class="btn btn-warning"> Edit </a>
    </div>
  </div>
  <%  } %>

</div>