<!--@author Subhash Veer-->
<div class=row>
    <div class="col-xs-12 col-md-10 col-lg-9">
      <div class="form-group">
        <label for="_productid">_productid</label>
        <input type="text" class="form-control" id="_productid" name="_productid" value="<%= product._productid %>" required>
      </div>
      <div class="form-group">
        <label for="productName">productName</label>
        <input type="date" class="form-control" id="productName" name="productName" value="<%= product.productName %>"
          required>
      </div>
      <div class="form-group">
        <label for="productDescription">productDescription</label>
        <input type="text" class="form-control" id="productDescription" name="productDescription" value="<%= product.productDescription %>">
      </div>
      <div class="form-group">
        <label for="price">price</label>
        <input type="text" class="form-control" id="price" name="price" value="<%= product.price %>" required>
      </div>
      <div class="form-group">
        <label for="productCategory">productCategory</label>
        <input type="text" class="form-control" id="productCategory" name="productCategory" value="<%= product.productCategory %>" required>
      </div>
      <div class="form-group">
        <label for="sellerId">sellerId</label>
        <input type="text" class="form-control" id="sellerId" name="sellerId" value="<%= product.sellerId %>" required>
      </div>
    </div>
  </div>
  